<div class="col-lg-9">
    <div class="panel">
        <div class="panel-heading">
            Profile Overview
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-6">
                    <div class="alert alert-success"><strong>Car Insurance Renewal Status</strong><span class="pull-right">23-Nov-16</span></div>
                    <div class="alert alert-warning"><strong>MOT Status</strong><span class="pull-right">N/A</span></div>
                    <div class="alert alert-danger"><strong>Training Status</strong><span class="pull-right">Red</span></div>
                </div>
                <div class="col-lg-6">
                    <div class="alert"><strong>Disciplinary Status</strong><span class="pull-right">N/A</span></div>
                    <div class="alert"><strong>AL Status</strong><span class="pull-right">10 Hours Remaining</span></div>
                    <div class="alert"><strong>SL Status</strong><span class="pull-right">4 Days Taken</span></div>
                    <div class="alert alert-success"><strong>Roll Year SL Status</strong><span class="pull-right">0 Days Taken</span></div>
                    <div class="alert alert-success"><strong>Roll Year SL Taken 3 months in a row</strong><span class="pull-right">Green</span></div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>  








