<table class="table table-striped table-advance table-hover">
    <thead>
        <tr>
            <td><strong>Emergency Contact Name</strong></td>
            <td>{{staff.emergencyName}}</td>
        </tr>
        <tr>
            <td><strong>Emergency Contact Number</strong></td>
            <td>{{staff.emergencyContact}}</td>
        </tr>
    </thead>
</table>
